*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #151515;
  font-size: 14px;
  font-family: monospace;
}

h1 {
  padding-top: 40px;
  text-align: center;
  font-size: 1.5rem;
}

.nav {
  margin: 20px auto;
  min-height: auto;
}

ul.list,
ul.list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list ul {
  position: relative;
  margin-left: 10px;
}

ul.list ul:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #000;
}

ul.list li {
  position: relative;
  margin: 0;
  padding: 0px 0 0px 12px;
  color: #ccc;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

ul.list li a {
  position: relative;
  color: #151515;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

ul.list li a:hover,
ul.list li a:hover + ul li a {
  color: #151515;
}

ul.list ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 8px;
  height: 0;
  border-top: 1px solid #151515;
}

ul.list ul li:last-child:before {
  top: 10px;
  bottom: 0;
  height: auto;
  background: #ffffff;
}

.underline:link,
.underline:visited,
.underline:hover,
.underline:active {
    text-decoration: underline;
}


ul.list li ul li {
  position: relative;
  color: #151515;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

span {
  white-space: pre;
}
.col-lg-6 {
    margin-bottom: 20px;
}
.col-lg-12 {
    margin-bottom: 20px;
}
ul.list li {
    color: #151515;
    font-size: 14px;
}
